<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ec66132f-3ff8-498a-bc09-dcf94a184aa0/resourcegroups/CustomerService20221226164506ResourceGroup/providers/Microsoft.Web/sites/CustomerService20221226164506</ResourceId>
    <ResourceGroup>CustomerService20221226164506ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/ec66132f-3ff8-498a-bc09-dcf94a184aa0/resourceGroups/CommonAPIManagerResourceGroup/providers/Microsoft.ApiManagement/service/K2284425-SAPM-CW1/apis/customer-service</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://customerservice20221226164506.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>dde811c3-8f93-42ff-900d-0e06765e4d83</ProjectGuid>
    <MSDeployServiceURL>customerservice20221226164506.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CustomerService20221226164506</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CustomerService20221226164506</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>